<!DOCTYPE html>
<html>
      <head>
           <title>Project</title>
           <link rel="stylesheet"  href="../public/css/style.css" />
      </head>

      <body>
           <h2>{{>header}}</h2>
           <h1>Here you can check weather</h1>
            <form id="form1">
            <input type="text" id="address">
            <button>Search</button>
        </form>
          <p id="location"></p>
          <p id="forecast"></p>
          <p id="error"></p>
          
          <script src="../public/js/script.js"></script>
      </body>
</html>